<% include header %>
<body>
    <div id="header">
            <h1>Welcome to NWMSU</h1>
            </a>
    </div>
    <div class="row">
                    
                    <div class="col-md-9">
                    <div id="AboutMe">
                            <h2>About Me</h2>
                            <p>My name is Vamshi. I am from the Southern part of the Indian Peninsula and pretty
                                    much excited to be
                                    here in Maryville, MO, USA.
                                    I like traveling a lot though I haven't covered most of the significant places
                                    back in India am
                                    confident that I will be able
                                    to cover all the USA mostly. Well coming to my interests I like learning to
                                    code and improving
                                    my skill of coding, teamwork,
                                    critical thinking and analyzing. I am looking forward to completing the course
                                    with a positive
                                    outcome that improves my skill
                                    set and develops my carrier.</p>
                    </div>

                    <div class="Past">
                            <h2>Past</h2>
                            <!-- <h3>Qualifications</h3> -->
                            <p>I am a 2014 Graduate with a major in E.C.E and a 2.5 years experience in the field
                                    of IT </p>
                    </div>
                    <div class="Skills">
                                    <h2>Skills</h2>
                                    <p>Technical Skills: C, Java, Database, Web Applivations.</p>
                                    <p>Other Skills: Teamwork, confident, punctual.</p>
                    </div>
                    <div id="Futuresection">
                            <h2>Future Endeavours</h2>
                            <p>After completion of Masters from NWMSU I pretty sure that I will be in a position to
                                    grab my dream
                                    job of
                                    Project Manager in MNC's like Amazon, Facebook, Google and planning to settle
                                    in Seatle, NY.
                            </p>
                    </div>
                    <div class="Schedule">
                            <h2>NWMSU semister 1 ACS Schedule</h2>
                            <p>For completing my 1st Semester in NWMSU I have to complete 9 Credit hours courses in
                                    the set of 3
                                    i.e., </p>
                    </div>
                    <ol>
                            <li>Object Oriented Programming</li>
                            <li>Advance Topics In Database Systems</li>
                            <li>Developing Web Applications and Services</li>
                    </ol>
                    <h2>Things I like to do</h2>
                    <img src="/images/1.jpg" alt="img1" style="width:250px" height="200">
                    <img src="/images/2.jpeg" alt="img2" style="width:250px" height="200">
                    <img src="/images/3.jpg" alt="img3" style="width:250px" height="200">
                    <img src="/images/4.png" alt="img4" style="width:250px" height="200">
                    <img src="/images/5.png" alt="img5" style="width:250px" height="200">
                    <div>
                            <iframe width="400" height="400" src="https://www.youtube.com/embed/L8qFV_umoVw" allow="autoplay; encrypted-media"
                                    allowfullscreen></iframe>
                    </div>
            </div>  
            <div class="col-md-3">
                <p id="name">Nuka, Vamshi Krishna</p>
                <p id="mobile">+1(620) 926 1034</p>
                <a href="mailto:S533573@NWMISSOURU.EDU">
                <p id="email">S533573@NWMISSOURU.EDU</p>
                <img src="/images/vamshi_krishna_nuka.jpeg" class="img-circle" alt="Avatar" style="width:250px" id="picture">
                </div>              
    </div>
    <link rel="stylesheet" href="/css/Index.css">
<% include footer %>
